.modal-title{
  font-size: 20px;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 15px;
}
.address-item{
  border-radius: 8px;
  border: 1px solid #7C7C7C;
  height: 38px;
  width: 88%;
  overflow: hidden;
  margin-left: 6%;
  margin-bottom: 15px;
  select{
    width: 100%;
    height: 100%;
    border: none;
    background: #FFFFFF;
    //padding: 0 20px;
  }
  input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 5px;
    background: #FFFFFF;
  }
}
.phone-item{
  border: 1px solid #7C7C7C;
  margin: 15px;
  border-radius: 8px;
  overflow: hidden;
}
.modal-input{
  border-radius: 8px;
  border: 1px solid #7C7C7C;
  height: 38px;
  width: 88%;
  padding: 0 20px;
}
.action-modal{
  width: 80%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.wrap-action-modal{
  display: flex;
}
.action-modal-btn-main{
  margin-top: 30px;
  margin-bottom: 40px;
}
.action-modal-btn{
  background: #101150;
  font-size: 15px;
  color: #D6FE7F;
  width: 88%;
  border: none;
  height: 38px;
  border-radius: 30px;
}

.modal-input-avatar-box{
  position: relative;
  .modal-input-avatar-upload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .modal-input-avatar-upload-mark{
    position: absolute;
    top: 0;
    width: 88%;
    margin-left: 6%;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.2);
  }
}
.modal-input-avatar{
  width: 88%;
  border-radius: 10px;
}
.action-modal-address{
  .am-list-extra{
    flex-basis: 74% !important;
  }
}
.action-modal-sex{
  display: flex;
  justify-content: space-evenly;
}