@keyframes animate_title_flashing{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.creation{
  background-image: url("../../../static/campaign/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  .top-30{
    margin-top: 30% !important;
  }
  .bottom-10{
    padding-bottom: 10% !important;
  }
  .creation-video{
    position: relative;
    width: 100%;
    img{
      width: 100%;
    }
    video{
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }
  .creation-footer-play{
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .jiazu-title{
      width: 100%;
      height: 100%;
      font-size: 30px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .name{
        font-size: 24px;
        font-weight: 300;
      }
      .title{
        font-size: 28px;
        font-family: "HYQiHei-80S";
      }
    }
  }
  .creation-play{
    width: 100%;
    position: relative;
    margin-top: 5px;
    .found-text{
      padding-left: 10%;
      .title{
        font-size: 22px;
        font-family: "HYQiHei-80S";
        padding-top: 5px;
      }
    }
    .creation-play-taiyi{
      padding-left: 10%;
      position: relative;
      img{
        margin-top: 10%;
      }
      .arImgText{
        position: absolute;
        top: -1%;
        z-index: 2;
        left: 10%;
        height: 91%;
      }
      .taiyi-cover{
        position: absolute;
        z-index: 10;
        top: 8%;
        left: 35%;
        height: 58%;
        width: auto;
      }
    }
    .gift{
      width: 70%;
      margin-left: 10%;
    }
    .gift-box{
      width: 90%;
      margin-left: 10%;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 400px;
      display: flex;
      margin-top: 20px;
      scrollbar-width: none;
      img{
        margin-top: 0px;
        width: auto;
        height: 100%;
        margin-right: 15px;
      }
    }
    .gift-box::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    .animate__title{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      animation: animate_title_flashing 3.2s infinite;
      animation-iteration-count:1;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .animate__title_no{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
    }
    img{
      width: 100%;
      margin-top: 20%;
    }
    .goPage{
      width: 160px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      background: #FFFFFF;
      font-size:15px;
      color: #231815;
      border: none;
      outline-style: none;
      font-family: "HYQiHei-80S";
      margin-top: 15%;
      margin-left: 10%;
    }
    .zhangyu-title{
      position: relative;
      width: 70%;
      margin-left: 10%;
    }
    .zhangyu{
      color: #FFFFFF;
      padding: 0 10%;
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      .page{
        .num{
          font-size: 30px;
          font-family: "HYQiHei-80S";
        }
        .size{
          font-size: 24px;
          font-family: "HYQiHei-60S";
          margin-top: -5px;
        }
      }
      .name{
        font-size: 70px;
        font-family: "VW_Head-Regular";
        span{
          font-size: 35px;
        }
      }
      .des{
        font-size: 22px;
        margin-top: -10px;
      }
      button{
        position: inherit;
        margin-left: 0;
        margin-top: 20%;
      }

    }
    .zhangyu-img{
      width: 100%;
      text-align: center;
      position: relative;
      padding: 0 7%;
      height: 50%;
      .item-box{
        height: 360px;
        margin-top: 20px;
      }
      .item{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }
    }
    .jiazu-title{
      width: 100%;
      height: 100%;
      font-size: 30px;
      font-family: "HYQiHei-40S";
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .ambitus{
      position: absolute;
      width: 100%;
      left: 0;
      top:33%;
      padding-left: 8%;
      padding-right: 8%;
      height: 55%;
      overflow-x: scroll;
      scrollbar-width: none;
      img{
        width: auto;
        height: 100%;
      }
    }
    .ambitus::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
  }
}
