.kol{
  background-image: url("../../static/kol/bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  .kol-video{
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    background: #000000;
    position: relative;
    img{
      width: 100%;
    }
    video{
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }
  .kol-1{
    width: 100%;
    margin-top: -8px;
    img{
      width: 100%;
    }
  }
  .kol-main{
    width: 100%;
    .content-1{
      width: 100%;
      height: 320px;
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      padding-top: 20px;
      img{
        height: 100%;
        margin: 0 5px;
      }
    }
    .content-1::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    .content-2{
      text-align: center;
      padding-top: 20%;
      padding-bottom:  20%;
      position: relative;
      .bg{
        width: 86%;
      }
      .slider{
        position: absolute;
        top: 28%;
        width: 72%;
        left: 14%;
        img{
          width: 100%;
        }
        .slick-arrow{
          display: none !important;
        }
        .get-btn{
          height: 40px;
          font-size: 16px;
          color: #FFFFFF;
          line-height: 40px;
          background: #000000;
          text-align: center;
          border-radius: 20px;
          padding: 0 20px;
          border: none;
          margin-top: 50px;
        }
        .slider-item{
          height: 280px;
        }
      }
      .slick-dots{
        bottom: -25px;
      }
      .slick-dots li button:before{
        font-size: 10px;
      }
    }
    .content-3{
      padding-left: 11%;
      padding-top: 18%;
      padding-bottom: 20%;
      .title{
        width: 82%;
      }
      .main{
        margin-top: 20px;
        height: 320px;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        div{
          width: 30px;
          height: 100%;
          display: inline-table;
        }
        img{
          height: 100%;
          margin-right: 15px;
        }
      }
      .main::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
    }
    .content-4{
      position: relative;
      img{
        width: 100%;
        margin-top: 10px;
      }
      .main{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 30px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: HYQiHei-60S;
      }
    }
  }
}