.faq{
  background: #101150;
  min-height: 100%;
  .my-info{
    .my-info-header{
      padding: 30px 30px;
      img{
        width: 13px;
      }
    }
    .my-info-title{
      text-align: center;
      padding-bottom: 70px;
      font-size: 24px;
      color: #D6FF7F;
    }
  }
}

.faq-content{
  flex: 1;
  background: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}
