.pin {
  margin: 0 0.125em 1em;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  background: white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  .tag{
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: #FFFFFF;
    left: 10px;
    top: 10px;
  }
  img {
    width: 100%;
  }
  .pin-main{
    padding: 15px 10px;
    p{
      font-size: 14px;
      margin: 0;
    }

  }
  .pin-info{
    padding: 0 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    .pin-info-left{
      font-size: 12px;
      .pin-info-head{
        display: inline-block;
        width: 23px;
        height: 23px;
        border-radius: 12px;
        padding-top: 1px;
        padding-left: 1px;
        position: relative;
        margin-right: 3px;
        .post-comment-left-img-icon{
          width: 12px;
          height: 12px;
          position: absolute;
          border-radius: 6px;
          bottom: -2px;
          right: -7px;
        }
      }
      img{
        margin-right: 3px;
        width: 21px;
        height: 21px;
        object-fit:cover;
        border-radius: 11px;
      }
    }
    .pin-info-right{
      img{
        margin-right: 5px;
        width: 16px;
        color: #a0a0a0;
        margin-top: -3px;
      }
      font-size: 12px;
      color: #A0A0A0;
      padding-top: 2px;
    }
  }
}